@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proxima-nova-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Proxima Nova';
  line-height: 1.75em;
}
